@charset "UTF-8";
#list{
    width: 600px;
    height: 514px;
    border:  2px solid #cccccc;
    float: right;
}
#user{
    width: 340px;
    height: 250px;
    border:  2px solid #cccccc;
    float: left;
    margin: 0px 0px 10px 0px;
}
#pics{
    width: 340px;
    height: 250px;
    border:  2px solid #cccccc;
    float: left;
}